.header { background: $head-bg; }

.header-inner { position: relative; }

.file-upload-form{
    position:absolute;
    z-index: 100; 
    display: none;  
}
.mask-div-hexo{
    position:absolute;
    z-index: 200; 
    width: 200px;
    height 200px;
    background-color:#eeeeee;
    top: 3px;
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
